* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    color: #252525;
}

:root{
    --primary : #ffb548;
    --secondary : #5d3327aa;
    --bg-color : #f4f4f4;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--bg-color);
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 400px;
    user-select: none;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.image img{
    max-height: 180px;
    object-fit: contain;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-form input{
    text-align: center;
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    background-color: #dfdfed;
    outline-color: var(--secondary);
}

.input-form #addToCartBtn{
    padding: 12px 18px;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.input-form #addToCartBtn:hover{
   opacity: 0.7;
}

.items-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.items-container p{
    display: inline-block;
    background-color: #ffffff;
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 3px #25252540;
}

.items-container p:hover{
    background-color: #ffb64854;
}

@keyframes fromUp {
    from {
        top: -200px;
    }
    to{
        top: 0px;
    }
}

.alert{
    position: absolute;
    top: 0;
    width: 95%;
    background-color: #dfdfed;
    border: 2px solid var(--secondary);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 60px;
    border-radius: 8px;
    margin: 5px 5px;
    animation: fromUp 1s ease-in-out 1;
}
.alert div{
    height: 100%;
}

.alert div button{
    height: 100%;
    padding: 0px 8px;
}

.show{
    display: flex;
}





@media screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
    }
    body .main{
       max-width: 100%;
       width: 100%;
       padding: 0;
       margin: 0px 20px;
       margin-top: 20px;
    }
    .input-form{
        width: 100%;
    }
}