* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    color: #252525;
}

:root{
    --primary : #ffb548;
    --secondary : #5d3327aa;
    --bg-color : #f4f4f4;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--bg-color);
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 400px;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.image img{
    max-height: 150px;
    object-fit: contain;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-form input{
    text-align: center;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    background-color: #e9e9f3;
    outline-color: var(--secondary);
}

.input-form #addToCartBtn{
    padding: 10px 16px;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.input-form #addToCartBtn:hover{
   opacity: 0.7;
}

.items-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.items-container p{
    font-size: 1rem;
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 16px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 3px #25252540;
}

@media screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
    }
    body .main{
       max-width: 100%;
       width: 100%;
       padding: 0;
       margin: 0px 20px;
       margin-top: 20px;
    }
    .input-form{
        width: 100%;
    }
}